pymongo==4.3.3

#it is so that you dont need to run setup.py, e will trigger setup.py and check the func find_packages for all packages
pandas
numpy
scikit-learn
pymongo
python-dotenv
PyYAML
dill
scipy
imbalanced-learn
xgboost==1.7.6
-e . #editable mode 


